C4 - Convolutional Neural Networks/Week 2 - Assignment 1/resnet50.h5
C4 - Convolutional Neural Networks/Week 2 - Assignment 2/dataset
C4 - Convolutional Neural Networks/Week 3 - Assignment 1/model_data
C4 - Convolutional Neural Networks/Week 3 - Assignment 1/nb_images
C4 - Convolutional Neural Networks/Week 3 - Assignment 2/data
C4 - Convolutional Neural Networks/Week 4 - Assignment 1/keras-facenet_tf23
C4 - Convolutional Neural Networks/Week 4 - Assignment 1/keras-facenet-h5
C4 - Convolutional Neural Networks/Week 4 - Assignment 2/pretrained-model
C5 - Sequence Models/Week 1 - Assignment 3/data
C5 - Sequence Models/Week 2 - Assignment 1/data
C5 - Sequence Models/Week 2 - Assignment 2/data
C5 - Sequence Models/Week 3 - Assignment 2/XY_dev
C5 - Sequence Models/Week 3 - Assignment 2/XY_train
C5 - Sequence Models/Week 4 - Assignment 2 (Ungraded)/model
C5 - Sequence Models/Week 4 - Assignment 3 (Ungraded)/model
C5 - Sequence Models/Week 4 - Assignment 4 (Ungraded)/glove